$primary-color: #000000;
$accent-color: #d03b3a;
$gray-color: #cacaca;
$light-grey-color: #fafafa;
$light-color: #ffffff;
$border-color: #ececec;
$text-color: #3a3a3a;
$success-color: #18a803;
$text-opacity77: #3a3a3ac4;
$text-opacity55: 8c;
$text-opacity33: 54;
$text-opacity15: 26;
$text-opacity10: 1a;
$text-opacity05: 0d;
