@import "../../../styles/colors";

.default {
  text-transform: none !important;
  color: $primary-color !important;
}
.active {
  color: $active-color !important;
}

.default.small {
  width: 100px;
}

.default.medium {
  width: 150px;
}

.default.footer-button {
  margin-right: 20px;
}
