@import "../../styles/colors";

.active-tab {
  .row {
    display: flex;
    border-bottom: 1px solid $gray-color;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    min-height: 3rem;
  }
}

@media only screen and (max-width: 1100px) {
  .active-tab {
    .row {
      padding: 0.5rem;
    }
  }
}

@media only screen and (max-width: 800px) {
  .active-tab {
    .row {
      padding: 0.5rem;
    }
  }
}
@media only screen and (max-width: 520px) {
  .active-tab {
    .row {
      padding: 0.5rem;
    }
  }
}
