@import "../styles/colors";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .layout {
    background-image: url("../assets/background.svg");
    background-size: cover;
    height: 40%;
  }
  .app-container {
    position: relative;
    top: -20%;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 2rem;
    height: 60%;
    width: 45%;
    .header {
      width: 100%;
    }
    .main-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
      background-color: #ffffff;
      .row {
        display: flex;
        border-bottom: 1px solid $gray-color;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        min-height: 3rem;
      }
      .navbar {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10rem;
        border-top: 1px solid $light-grey-color;
        width: 95%;
        padding: 0.1rem 1rem;

        .tabs {
          display: flex;
          gap: 0.5rem;
        }
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    gap: 0.5rem;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08),
      inset 0 -3px 6px rgba(255, 255, 255, 0.5),
      inset 0 -4px 6px rgba(0, 0, 0, 0.2),
      inset 0 -8px 10px rgba(255, 255, 255, 0.3);
  }
}

//

@media only screen and (max-width: 1100px) {
  .container {
    .app-container {
      padding: 0.5rem; // Adjust padding for mobile devices
      width: 50%;
      .main-container {
        .row {
          padding: 0.5rem;
        }

        .navbar {
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5rem;
          border-top: 1px solid $light-grey-color;
          padding: 1rem;

          .tabs {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .footer {
      padding: 0.25rem; // Adjust padding for mobile devices
    }
  }
}

//

@media only screen and (max-width: 800px) {
  .container {
    .app-container {
      padding: 0.5rem; // Adjust padding for mobile devices
      height: 65%;
      width: 65%;
      .main-container {
        padding: 0.5rem 0;
        .row {
          padding: 0.5rem;
        }

        .navbar {
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5rem;
          border-top: 1px solid $light-grey-color;
          padding: 1rem;

          .tabs {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .footer {
      padding: 0.25rem; // Adjust padding for mobile devices
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .app-container {
      padding: 0.5rem; // Adjust padding for mobile devices
      height: 85%;
      width: 85%;
      .main-container {
        padding: 0.5rem 0;
        .row {
          padding: 0.5rem;
        }
        .navbar {
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5rem;
          border-top: 1px solid $light-grey-color;
          padding: 1rem;
          .tabs {
            display: flex;
            gap: 0.5rem;
          }
        }
      }
    }

    .footer {
      padding: 0.25rem; // Adjust padding for mobile devices
    }
  }
}
